local/resources.jar/template/mobilescreens/rf.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="html">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="body">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="form">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="table">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="tr">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="td">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="table">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element maxOccurs="unbounded" name="tr">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="td">
                                                    <xsd:complexType>
                                                      <xsd:sequence>
                                                        <xsd:element name="input">
                                                          <xsd:complexType>
                                                            <xsd:attribute name="type" type="xsd:string" />
                                                            <xsd:attribute name="subtype" type="xsd:string" />
                                                            <xsd:attribute name="name" type="xsd:string" />
                                                            <xsd:attribute name="value" type="xsd:string" />
															<xsd:attribute name="size" type="xsd:int" />
															<xsd:attribute name="maxlen" type="xsd:int" />
                                                            <xsd:attribute name="tag" type="xsd:string" />
                                                            <xsd:attribute name="inputbinding" type="xsd:string" />
                                                            <xsd:attribute name="outputbinding" type="xsd:string" />
                                                            <xsd:attribute name="validate" type="xsd:boolean" />
                                                            <xsd:attribute name="mandatory" type="xsd:boolean" />
															<xsd:attribute name="col" type="xsd:int" />
                                                          </xsd:complexType>
                                                        </xsd:element>
                                                      </xsd:sequence>
                                                    </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                          <xsd:attribute name="width" type="xsd:int" />
                                          <xsd:attribute name="border" type="xsd:int" />
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="border" type="xsd:int" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="name" type="xsd:string" />
                  <xsd:attribute name="target" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>